---
import { SITE_TITLE } from "../consts";
---

<header class="my-5 sm:my-7">
  <nav class="flex justify-between">
    <span>
      <h2><a title={SITE_TITLE} href="/">{SITE_TITLE}</a></h2>
    </span>
    <span class="flex space-x-5 lg:space-x-4">
      <span>
        <a
          href="https://www.linkedin.com/in/jonathanamorales"
          title="Jonathan Morales LinkedIn"
          target="_blank"
        >
          <img class="h-[30px]" src="linkedin.png" alt="linkedin" />
        </a>
      </span>
      <span>
        <a
          href="https://forloop.dev/rss.xml"
          title="forloop.dev rss link"
          target="_blank"
        >
          <img class="h-[30px]" src="rss.png" alt="rss" />
        </a>
      </span>
      <span id="theme-switcher" class="cursor-pointer">
        <img class="h-[30px] dark:hidden" alt="sun" src="sun.png" />
        <img
          class="h-[30px] hidden dark:inline-block"
          alt="moon"
          src="moon.png"
        />
      </span>
    </span>
  </nav>
</header>

<script>
  if (localStorage.theme === "dark") {
    document.documentElement.classList.add("dark");
  } else {
    document.documentElement.classList.remove("dark");
  }

  document.querySelector("#theme-switcher")?.addEventListener("click", () => {
    if (localStorage.theme === "dark") {
      localStorage.theme = "light";
      document.documentElement.classList.remove("dark");
    } else {
      localStorage.theme = "dark";
      document.documentElement.classList.add("dark");
    }
  });
</script>
